<div class="flex-container">
<footer class="py-4 my-4 text-center fixed-bottom">
  <div class="container pt-4">
      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/in/budimir-filipovic"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-2x fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/bud1m"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-2x fa-github"></i
      ></a>
      <!-- Email -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="mailto:budimir.filipovic1@gmail.com"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fas fa-2x fa-envelope"></i
      ></a>   
    </section>
</footer>
</div>