// custom.scss

// Import Bootstrap's SCSS files
body {
  background: linear-gradient(180deg, #000000 0%, #1976d2 100%);
  color: #fff;
  font-family: "Arial", sans-serif;

}

// Customize the .card class



a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
  }
}

.card-body{
  color: rgb(251, 251, 249);
}
.card-title{
  color: white;
}
footer {
  /* Set the fixed height of the footer here */
  /* aligns type in footer-container */
  background-color: none;
}

// Variables
$primary-color: #5c889f;
$secondary-color: #702f2f;

/* Header Styles */

.header-name{
  color: #ffffff;
}

$navbar-bg: none;
$navbar-brand-color: #6c757d;
$navbar-text-color: #6c757d;
$navbar-link-color: #6c757d;
$navbar-link-hover-color: #bbdbe2;
$navbar-active-link-color: #147abf;
header {
  background-color: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a subtle box shadow */

  /* Adjust top and bottom padding as needed */
  .navbar {
    background-color: $navbar-bg;
    .navbar-nav {
      .nav-link {
        color: $navbar-link-color;
        text-decoration: underline;

        &:hover {
          color: $navbar-link-hover-color;
        }

        &.active {
          color: $navbar-active-link-color;
        }
      }
    }
  }
}